/* Footer Styles */
.footer {
    background-color: #000;
    /* Black background */
    color: #fff;
    /* White text */
    padding: 20px 0;
}

.footer .footer-top {
    display: flex;
    flex-wrap: wrap;
    /* Ensures responsiveness */
    justify-content: space-between;
    align-items: center;
}

.footer .footer-logo img {
    max-width: 100px;
}

.footer .language-selector,
.footer .newsletter-subscription {
    text-align: center;
    /* Center-aligned content */
}

.footer .language-selector select,
.footer .newsletter-subscription input {
    width: auto;
    /* Adjusted width */
}

.footer .social-icons a {
    margin-left: 10px;
    /* Adjusted spacing between icons */
    font-size: 20px;
    color: black;
}

.footer-bottom nav ul {
    padding: 0;
    margin: 0;
    /* for footer made margin and padding zero */
}

.footer-bottom nav ul li {
    display: inline-block;
    /* Ensures horizontal alignment */
}

.footer-bottom nav ul li a {
    color: #fff;
    text-decoration: none;
    padding-left: 15px;
    /* Adjusted spacing between links */
}

.footer-bottom nav ul li a:hover {
    text-decoration: underline;
}